$default-input-outline-color: #E5E7EB;
$default-input-outline-color--hover: #3B82F6;
$default-input-outline-color--success: #65A30D;
$default-input-outline-color--error: #DC2626;
$default-input-background-color--disabled: #E5E7EB;


