$default-input-outline-color: #E5E7EB;
$default-input-outline-color--hover: #3B82F6;
$default-input-outline-color--success: #65A30D;
$default-input-outline-color--error: #DC2626;

$default-input-title-color: #1F2937;

$default-input-tips-color--error: #DC2626;
$default-input-tips-color--success: #65A30D;

$default-input-background-color--disabled: #F3F4F6;

$default-button-background-color: #1E40AF;
$default-button-outline-color: #60A5FA;
$default-button-background-color--disabled: #F3F4F6;
$default-button-color--disabled: #9CA3AF;



