@import '../variable.scss';
.defaultButtonStyle {
    width: 80px;
    height: 36px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;
    background-color: $default-button-background-color;
    border-color: $default-button-background-color;
    &:hover,
    &:active,
    &:focus {
        background-color: $default-button-background-color;
        border-color: $default-button-background-color
    }
    &:focus {
        border: solid 1px white;
        box-shadow: 0px 0px 0px 2px $default-button-outline-color;
    }
}