@import '../variable.scss';
.defaultInputNumber {
    height: 36px;
    width: 200px;
    &:hover {
        @extend .default-input-outline--hover;
        border-radius: 4px;
    }
    &:focus-visible{
        @extend .default-input-outline--focus;
    }
}