@import '../variable.scss';
.defaultInputNumber {
    height: 36px;
    width: 200px;
    &:hover {
        border-radius: 4px;
        box-shadow: 0 0 0 1px $default-input-outline-color--hover;
    }
    &:focus-visible{
        border:1px $default-input-outline-color--hover solid;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
    }
}