@import '../variable.scss';
.button {
    @extend .primary-button-background-color, .primary-button-border-color;
    height: 36px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;
    &:hover,
    &:active,
    &:focus {
        @extend .primary-button-background-color, .primary-button-border-color;
    }
    &:focus {
        @extend .primary-button-outline-color;
    }
}
