@import '../variable.scss';
.button {
    @extend .secondary-button-background-color, .secondary-button-background-color, .secondary-button-text-color;
    // width: 80px;
    height: 36px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;
    // background-color: $secondary-button-background-color;
    // border-color: $secondary-button-background-color;
    // color: $secondary-button-text-color;
    &:hover,
    &:active,
    &:focus {
        @extend .secondary-button-background-color, .secondary-button-background-color,.secondary-button-text-color;
        // color: $secondary-button-text-color;
        // background-color: $secondary-button-background-color;
        // border-color: $secondary-button-background-color
    }
    &:hover {
        @extend .secondary-button-outline-color--hover;
        // box-shadow: 0 0 10px 1px rgba(0,0,0, .12);
    }
    &:focus {
        @extend .secondary-button-outline-color--focus;
        // border: solid 1px white;
        // box-shadow: 0px 0px 0px 2px $secondary-button-outline-color;
    }
}
