@import '../variable.scss';
.button {
    @extend .secondary-button-background-color, .secondary-button-background-color, .secondary-button-text-color;
    height: 36px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;
    &:hover,
    &:active,
    &:focus {
        @extend .secondary-button-background-color, .secondary-button-background-color,.secondary-button-text-color;
    }
    &:hover {
        @extend .secondary-button-outline-color--hover;
    }
    &:focus {
        @extend .secondary-button-outline-color--focus;
    }
}
